@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/black";

body {
    font-family: var(--font-family-main);
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

.app {
    background-color: var(--bg-secondary);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.titleBlue {
    color: var(--active-color-default);
    font-size: 45px;
    font-weight: 900;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
