:root {
    --font-family-main: montserrat, sans-serif;
    --navbar-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --sidebar-width-collapsed-mobile: -85px;

    // z - Индексы
    --modal-z-index: 10;
    --collapsed-btn-z-index: 9;
    --header-z-index: 8;
    --sidebar-z-index: 8;

    // Цвета
    --overlay-color: rgb(0 0 0 / 71.2%);
}
