.title {
    color: var(--text-primary);
}

.text {
    color: var(--text-secondary);
}

.primary {
    .text {
        color: var(--text-primary);
    }
}

.active {
    .text {
        color: var(--active-color-default);
    }

    .title {
        color: var(--active-color-default);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;

    .text {
        text-align: center;
    }
}

.light {
    .title {
        font-weight: 400;
    }

    .text {
        font-weight: 300;
    }
}

.medium {
    .title {
        font-weight: 700;
    }

    .text {
        font-weight: 400;
    }
}

.bold {
    .title {
        font-weight: 900;
    }

    .text {
        font-weight: 500;
    }
}

.size_xs {
    .title {
        font-size: 14px;
    }

    .text {
        font-size: 10px;
    }
}

.size_s {
    .title {
        font-size: 16px;
    }

    .text {
        font-size: 12px;
    }
}

.size_m {
    .title {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
}

.size_l {
    .title {
        font-size: 28px;
    }

    .text {
        font-size: 18px;
    }
}

.size_xl {
    .title {
        font-size: 30px;
    }

    .text {
        font-size: 22px;
    }
}

.size_xxl {
    .title {
        font-size: 45px;
    }

    .text {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .size_xs {
        .title {
            font-size: 12px;
        }

        .text {
            font-size: 10px;
        }
    }

    .size_s {
        .title {
            font-size: 14px;
        }

        .text {
            font-size: 12px;
        }
    }

    .size_m {
        .title {
            font-size: 16px;
        }

        .text {
            font-size: 13px;
        }
    }

    .size_l {
        .title {
            font-size: 20px;
        }

        .text {
            font-size: 14px;
        }
    }

    .size_xl {
        .title {
            font-size: 24px;
        }

        .text {
            font-size: 15px;
        }
    }

    .size_xxl {
        .title {
            font-size: 28px;
        }

        .text {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 400px) {
    .size_xs {
        .title {
            font-size: 12px;
        }

        .text {
            font-size: 10px;
        }
    }

    .size_s {
        .title {
            font-size: 14px;
        }

        .text {
            font-size: 12px;
        }
    }

    .size_m {
        .title {
            font-size: 16px;
        }

        .text {
            font-size: 13px;
        }
    }

    .size_l {
        .title {
            font-size: 20px;
        }

        .text {
            font-size: 12px;
        }
    }

    .size_xl {
        .title {
            font-size: 22px;
        }

        .text {
            font-size: 13px;
        }
    }

    .size_xxl {
        .title {
            font-size: 24px;
        }

        .text {
            font-size: 14px;
        }
    }
}
