.title {
    max-width: 70%;
}

.steps {
    margin-bottom: 100px;
}

.text {
    max-width: 50%;
}

.info {
    border-bottom: 1px solid var(--border-primary);
    padding-bottom: 50px;
}

.banner {
    box-shadow: var(--box-shadow-default);
    border-radius: 30px;
}
