/* stylelint-disable no-descending-specificity */
.Button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.selector {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg-primary);
    box-shadow: var(--box-shadow-default);

    svg {
        width: 24px;
        height: 24px;
        fill: var(--text-primary);
    }

    &:hover {
        transition: all 0.1s ease-in-out;
        color: white;

        svg {
            fill: white;
        }

        span {
            color: white;
        }

        background-color: var(--active-color-default);
    }

    &:active {
        transition: transform 0.1s ease-in-out;
        transform: translateY(2px);
    }
}

.Yandex {
    min-height: 44px;
    border-radius: 8px;
    background-color: var(--text-black);
    display: flex;
    color: var(--text-white);
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 24px;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.8;
        transform: scale(0.97);
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.vk {
    min-height: 44px;
    border-radius: 8px;
    background: #07f;
    display: flex;
    align-items: center;
    color: var(--text-white);
    padding: 8px 10px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.7;
        transform: scale(0.97);
    }

    svg {
        width: 28px;
        height: 28px;
    }

    span {
        display: flex;
        flex: 1;
        justify-content: center;
        font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
    }

    svg + span {
        margin-left: -28px;
    }
}

.outline {
    border-radius: 10px;
    background: transparent;
    color: var(--text-black-inverted-theme);
    justify-content: center;
    display: flex;
    align-items: center;
    outline: 2px solid var(--border-primary);
    padding: 10px 25px;
    gap: 7px;
    font-weight: 600;
    line-height: 1;

    svg {
        width: 25px;
        height: 25px;
        flex: none;
    }

    &:hover {
        outline: 2px solid var(--border-primary-hover);
    }

    &:active {
        transform: translateY(1px);
    }
}

.outline_active {
    min-height: 55px;
    border-radius: 10px;
    background: transparent;
    color: var(--active-color-default);
    justify-content: center;
    display: flex;
    align-items: center;
    outline: 2px solid var(--active-color-default);
    padding: 15px 25px;
    gap: 7px;
    font-weight: 600;
    line-height: 1;

    svg {
        width: 25px;
        height: 25px;
        flex: none;
    }

    &:hover {
        outline: 2px solid var(--border-primary-hover);
    }

    &:active {
        transform: translateY(1px);
    }
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.default {
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
    background-color: var(--active-color-default);
    filter: drop-shadow(-1px 1px 4px rgb(0 0 0 / 25%));

    &:hover {
        background-color: var(--active-color-hover);
    }

    &:active {
        transform: scale(0.97);
    }

    &:disabled,
    &[disabled] {
        background-color: var(--active-color-disabled);
        pointer-events: none;
    }
}

.cart {
    display: flex;
    background-color: var(--bg-secondary);
    align-items: center;
    line-height: 1.22;
    padding: 6.5px 10px;
    border-radius: 10px;
    font-weight: 600;

    &:active {
        transform: scale(0.97);
    }

    span {
        padding-right: 7px;
        border-right: 2px solid var(--border-vertical-cart);
        margin-right: 7px;
    }

    svg {
        width: 24px;
        height: 24px;
        color: var(--text-secondary);
    }

    &:hover {
        background-color: var(--secondary-btn-hover);
    }
}

.svg_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: transparent;
    padding: 7px;
    color: var(--text-secondary);

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background: var(--bg-secondary);
    }

    &:active {
        background: var(--secondary-btn-hover);

        svg {
            transform: scale(0.97);
        }
    }
}

.svg_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 10px;
    padding: 7px;
    color: var(--text-secondary);
    background: var(--bg-secondary);

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: var(--secondary-btn-hover);
    }

    &:active {
        background: var(--secondary-btn-hover);

        svg {
            transform: scale(0.97);
        }
    }
}

.svg_clean {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 7px;
    color: var(--text-secondary);
    background: transparent;

    svg {
        width: 100%;
        height: 100%;
    }

    &:active {
        background: var(--secondary-btn-hover);

        svg {
            transform: scale(0.97);
        }
    }
}

.svg_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 10px;
    color: var(--active-color-default);
    background: var(--bg-secondary);

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: var(--secondary-btn-hover);
    }

    &:active {
        background: var(--secondary-btn-hover);

        svg {
            transform: scale(0.97);
        }
    }
}

.up {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    right: 50px;
    box-shadow: var(--box-shadow-default);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 7px;
    color: var(--text-white);
    background-color: var(--active-color-default);

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: var(--active-color-hover);
    }

    &:active {
        svg {
            transform: scale(0.97);
        }
    }
}
