.CalculationResult {
    width: 600px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.iconPrice {
    width: 25px;
    height: 25px;
    flex: none;
    color: var(--text-primary);
}

.resultClearContainer {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);
}

.infoBlock {
    background-color: var(--bg-secondary);
    padding: 5px 10px;
    border-radius: 10px;
}

.getResultBtn {
    width: 100%;
    padding: 20px;
}

.menuIcon {
    width: 25px;
    height: 25px;
    flex: none;
    color: var(--active-color-default);
}
