/* stylelint-disable no-descending-specificity */
.ListBox {
    position: relative;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-primary);
}

.item {
    svg {
        opacity: 0;
        width: 20px;
        height: 20px;
        fill: var(--active-color-default);
    }

    padding: 20px 25px;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0;
    border-bottom: 1px solid var(--border-primary);

    &:hover {
        background-color: var(--bg-secondary);
    }

    &:last-child {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
    }
}

.disabled {
    cursor: not-allowed;
}

.readonly {
    transition: all 0.5s ease-in-out;
    background-color: transparent !important;
}

.selected {
    svg {
        opacity: 1;
    }
}

.title {
    font-weight: 600;
}

.trigger {
    width: 100%;
    flex: none;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    padding: 20px;

    svg {
        width: 20px;
        height: 20px;
        fill: var(--text-primary);
    }

    &:active {
        svg {
            transition: transform 0.1s ease-in-out;
            transform: translateY(1px);
        }
    }

    &:disabled {
        padding: 0;
        cursor: text;

        svg {
            display: none;
        }

        &:active {
            svg {
                transform: none;
            }
        }
    }
}

.clear {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.default {
    color: var(--text-primary);
    box-shadow: var(--box-shadow-default);
    background-color: var(--bg-primary);
    border-radius: 10px;
}

.options {
    width: 100%;
    z-index: 8;
    background-color: var(--bg-primary);
    position: absolute;
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;
    outline: 1px solid var(--border-primary);
}

.optionsTopLeft,
.optionsTopRight {
    .item {
        &:last-child {
            border-radius: 10px 10px 0 0;

            &::before {
                content: "";
                position: absolute;
                bottom: -6px;
                right: 20px;
                border-bottom: 1px solid var(--border-primary);
                border-right: 1px solid var(--border-primary);
                background-color: var(--bg-primary);
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
            }

            &:hover {
                &::before {
                    background-color: var(--bg-secondary);
                }
            }
        }
    }
}

.optionsBottomLeft,
.optionsBottomRight {
    .item {
        &:first-child {
            border-radius: 10px 10px 0 0;

            &::before {
                content: "";
                position: absolute;
                top: -6px;
                right: 20px;
                border-top: 1px solid var(--border-primary);
                border-left: 1px solid var(--border-primary);
                background-color: var(--bg-primary);
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
            }

            &:hover {
                &::before {
                    background-color: var(--bg-secondary);
                }
            }
        }
    }
}

.optionsBottomLeft {
    top: 100%;
    left: 0;
    margin-top: 15px;
}

.optionsBottomRight {
    top: 100%;
    right: 0;
    margin-top: 15px;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
    margin-bottom: 15px;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
    margin-bottom: 15px;
}
