.PasswordStrength {
    position: absolute;
    width: 300px;
    z-index: 10;
    background: var(--bg-primary);
    border: 1px solid var(--border-primary);
    padding: 10px;
    box-shadow: var(--box-shadow-default);
    border-radius: 10px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        z-index: -1;
        right: -12px;
        background-color: var(--bg-primary);
        border-top: 1px solid var(--border-primary);
        border-right: 1px solid var(--border-primary);
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }
}

.item {
    display: flex;
    margin-bottom: 10px;
    align-items: start;
    color: var(--text-primary);
    font-weight: 600;
    gap: 10px;
}

.dot,
.done {
    width: 24px;
    flex: none;
    height: 24px;
    color: var(--active-color-default);
}

.steps {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.step {
    height: 5px;
    width: 100%;
    background-color: var(--border-primary);
    border-radius: 5px;
}

.active {
    background-color: var(--active-color-default);
    text-decoration: overline;
    color: var(--text-secondary);
}
