:root {
    // new styles
    --text-black: #000;
    --text-white: #fff;
    --text-primary: #464646;
    --text-secondary: #737374;
    --border-primary: #d2d0dc;
    --bg-primary: #fff;
    --border-vertical-cart: #a0a0a0;
    --bg-secondary: #ecf0f8;
    --slider-shadow: inset 0 1px 1px #ddd, 0 2px 3px #ccc;
    --active-color-default: #00f;
    --bg-button: #fff;
    --text-red: #f00;
    --active-color-hover: rgb(0 0 236);
    --active-color-disabled: rgb(2 2 179);
    --secondary-btn-hover: #dce8ff;
    --box-shadow-default: -1px 1px 4px 0 rgb(0 0 0 / 25%);
}
