/* stylelint-disable max-line-length */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
:root {
    // text
    --text-black-inverted-theme: #000;
    --text-black: #000;
    --text-white: #fff;
    --text-yellow: #ffd86a;
    --text-orange: #ffc400;
    --text-green: #00ff15;
    --text-primary: #464646;
    --text-light-gray: #d2d2d4;
    --text-secondary: #737374;

    // border
    --border-primary: #d2d0dc;
    --border-primary-hover: #c5c3ce;
    --border-vertical-cart: #a0a0a0;

    // bg
    --bg-primary: #fff;
    --bg-primary-gradient-99: rgba(255, 255, 255, 0.99);
    --bg-primary-gradient-96: rgba(255, 255, 255, 0.96);
    --bg-primary-gradient-93: rgba(255, 255, 255, 0.93);
    --bg-primary-gradient-91: rgba(255, 255, 255, 0.91);
    --bg-primary-gradient-85: rgba(255, 255, 255, 0.85);
    --bg-primary-gradient-76: rgba(255, 255, 255, 0.76);
    --bg-primary-gradient-67: rgba(255, 255, 255, 0.67);
    --bg-primary-gradient-55: rgba(255, 255, 255, 0.55);
    --bg-primary-gradient-44: rgba(255, 255, 255, 0.44);
    --bg-primary-gradient-33: rgba(255, 255, 255, 0.33);
    --bg-primary-gradient-23: rgba(255, 255, 255, 0.23);
    --bg-primary-gradient-15: rgba(255, 255, 255, 0.15);
    --bg-primary-gradient-08: rgba(255, 255, 255, 0.08);
    --bg-primary-gradient-03: rgba(255, 255, 255, 0.03);
    --bg-primary-gradient-01: rgba(255, 255, 255, 0.01);
    --bg-secondary: #ecf0f8;
    --bg-button: #fff;
    --bg-active-gradient: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 255, 1) 62%, rgba(56, 56, 250, 1) 100%);
    --secondary-btn-hover: #dce8ff;

    // active colors
    --active-color-default: #00f;
    --active-color-hover: #0000ec;
    --active-color-disabled: #3838fa;

    // errors
    --text-red: #f00;
    --error-color: #ea334d;
    --error-color-hover: #e8455d;
    --error-color-disabled: #b8364a;
    --error-bg:
        linear-gradient(0deg, rgb(234 51 77 / 10%), rgb(234 51 77 / 10%)),
        #fff;

    // shadows
    --slider-shadow: inset 0 1px 1px #ddd, 0 2px 3px #ccc;
    --box-shadow-default: -1px 1px 4px 0 rgb(0 0 0 / 25%);
    --box-shadow-down: 3px 3px 6px 0 rgb(0 0 0 / 25%);
    --box-shadow-active: -1px 1px 4px 0 rgb(0, 0, 255);
}
