.NewsPageFilters {
    margin-bottom: 32px;
}

.iconLabel {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon {
    color: var(--text-secondary);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
        color: var(--text-primary);
    }

    &:active {
        transform: scale(0.97);
    }
}

.input {
    padding: 15px;
    width: 100%;
    font-weight: 600;
    color: var(--text-primary);

    &::placeholder {
        color: var(--text-secondary);
    }
}

.inputWrapper {
    width: 100%;
    border-right: 2px solid var(--text-secondary);
}

.searchBox {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--bg-primary);
    border-radius: 15px;
    box-shadow: var(--box-shadow-default);
}
