.Flex {
    display: flex;
}

.alignStart {
    align-items: start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap0 {
    gap: 0;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap10 {
    gap: 10px;
}

.gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

.gap50 {
    gap: 50px;
}

.max {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}
