.icon {
    flex: none;
    width: 50px;
    height: 50px;
}

.createdAt {
    color: var(--active-color-default);
}

.passwordPosition {
    left: -130%;
    top: -110%;
}

.passwordWrapper {
    position: relative;
}

.header {
    margin-bottom: 40px;
}

.avatarContainer {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-primary);
}

.infoBlock {
    padding: 15px 30px;
    border: 1px solid var(--border-primary);
    border-radius: 20px;
}

.active {
    border: 2px solid var(--active-color-default);
}
