.ThemeSwitcher {
    position: relative;
}

.label {
    width: 60px;
    height: 31px;
    background: #96dcee;
    border-radius: 100px;
    border: 2px solid #72cce3;
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    cursor: pointer;

    &::before {
        animation-name: reverse;
        animation-duration: 350ms;
        animation-fill-mode: forwards;
        transition: all 350ms ease-in;
        content: "";
        width: 19px;
        height: 19px;
        border: 2px solid #f5eb71;
        top: 2px;
        left: 0;
        position: absolute;
        border-radius: 82px;
        background: #fffaa8;
    }

    &::after {
        transition: all 250ms ease-in;
        transition-delay: 0ms;
        position: absolute;
        content: "";
        box-shadow: #e8e8ea -16px 0 0 0, #e8e8ea -24px 5px 0 -1px;
        left: 56px;
        top: 6px;
        width: 4px;
        height: 4px;
        background: transparent;
        border-radius: 50%;
        opacity: 0;
    }
}

.background {
    width: 4px;
    height: 2px;
    border-radius: 5px;
    position: relative;
    background: #fff;
    left: 40px;
    top: 14px;
    transition: all 150ms ease-in;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        width: 10px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        left: -4px;
        transition: all 150ms ease-in;
    }

    &::after {
        content: "";
        position: absolute;
        top: 2px;
        width: 11px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        left: -2px;
        transition: all 150ms ease-in;
    }
}

.checkbox {
    display: none;

    &:checked + .label {
        background-color: #6b7abb;
        border-color: #5d6baa;
    }

    &:checked + .label .background {
        left: 16px;
        width: 2px;
        height: 2px;
    }

    &:checked + .label .background::before {
        width: 2px;
        height: 2px;
        top: -10px;
    }

    &:checked + .label .background::after {
        width: 2px;
        height: 2px;
        left: -10px;
        top: 5px;
    }

    &:checked + .label::before {
        background: #fff;
        border-color: #e8e8ea;
        animation-name: switch;
        animation-duration: 350ms;
        animation-fill-mode: forwards;
    }

    &:checked + .label::after {
        transition-delay: 350ms;
        opacity: 1;
    }
}

@keyframes switch {
    0% {
        left: 3px;
    }

    60% {
        left: 15px;
        width: 25px;
    }

    100% {
        left: 30px;
        width: 19px;
    }
}

@keyframes reverse {
    0% {
        left: 30px;
        width: 19px;
    }

    60% {
        left: 15px;
        width: 25px;
    }

    100% {
        left: 3px;
    }
}
