.CircleProgressBar {
    flex: none;
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}

.wrapper {
    position: relative;
}

.background {
    fill: none;
    stroke: var(--bg-secondary);
}

.progress {
    fill: none;
    transition: all 1s ease-in-out;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.progressAnimation {
    fill: none;
    transition: all 1s ease-in-out;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: rotate 2s linear infinite;
}

.percentageCount {
    font-weight: 500;
    font-size: 22px;
}

.percentageWrapper {
    position: absolute;
    top: 38%;
    left: 36%;
}

@keyframes rotate {
    0% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 376.991;
    }

    20% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 301.593;
    }

    40% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 226.195;
    }

    60% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 150.796;
    }

    80% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 75.3982;
    }

    100% {
        stroke-dasharray: 376.991;
        stroke-dashoffset: 0;
    }
}
